@model MovieDetail
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<form asp-controller="Movie" asp-action="RateMovie">
    <input type="hidden" asp-for="MovieId"/>
    <input type="hidden" name="userId" value="@UserManager.GetUserId(User)"/>
    <div class="container d-flex align-items-center justify-content-center" disabled>
        @for (int i = 1; i <= 5; i++)
        {
            @if (SignInManager.IsSignedIn(User))
            {
                AppUser u = await UserManager.Users
                    .Include(u => u.Rates)
                    .ThenInclude(r => r.MovieDetail)
                    .ThenInclude(md => md.Movie)
                    .FirstAsync(u => u.Id == UserManager.GetUserId(User));
                Rate? rate = u.Rates.SingleOrDefault(rate => rate.MovieDetail.MovieId == Model.MovieId);
                <div class="form-check form-check-inline">
                    @if (rate != null && rate.Value == i)
                    {
                        @* <i class="bi bi-star-fill"> *@
                            <input class="bi bi-star-fill d-inline" type="radio" name="rateValue" value="@i" required checked>
                        // </i>
                    }
                    else
                    {
                        @* <i class="bi bi-star"> *@
                            <input class="bi bi-star d-inline" type="radio" name="rateValue" value="@i" required>
                        // </i>
                    }
                </div>
            }
            else
            {
                <div class="form-check d-inline-block">
                    <input class="bi bi-star d-inline" type="radio" name="rateValue" id="radio" value="@i" required disabled>
                </div>
            }
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <button class="btn btn-outline-success" type="submit">Rate</button>
        }
        else
        {
            <button class="btn btn-outline-success" type="submit" disabled>Rate</button>
            <span class="text-danger">You must be logged in to rate a movie!</span>
        }
    </div>
</form>