@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="text">
        <div class="container">
            <h1>Recently Added</h1>
            <br>
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{ bool first = true; }
                    @foreach (Movie movie in Model)
                    {
                        <div class="@{if (first) { <text>carousel-item active</text> first = false; }else { <text>carousel-item</text> }}">
                            <div class="align-content-center">
                                <form asp-controller="Movie" asp-action="Details" method="get">
                                    <input hidden="hidden" name="id" type="number" value="@movie.MovieDetail.MovieId">
                                    <br>
                                    <button class="btn" type="submit">
                                        <h5>@movie.MovieDetail.Title</h5>
                                        @* <img style="width: 50%" src="~/uploads/@(movie.MovieDetail.Title).jpg" alt=""> *@
                                    </button>
                                </form>
                                <br>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
    </div>
</div>