@model Movie
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<form asp-controller="Movies" asp-action="AddMovie">
    <input type="text" name="title" placeholder="Movie Title">
    <input type="number" name="rate" inputmode="decimal" placeholder="Movie Rate" step="0.01" min="0" max="5">
    <input type="date" name="datetime" placeholder="Movie DateTime">
    <button type="submit">Add Movie</button>
</form>