@using System.Globalization
@using ChineseNetflix.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    ViewData["Title"] = "All Movies";
}

<div class="text-center">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>

                <p class="d-inline-block">
                    Actors:
                    @foreach (Actor actor in Model.ActorsList)
                    {
                    @(actor + " ")
                    }
                </p>
                <br>
                <p class="d-inline-block">
                    Genres:
                    @foreach (EMovieGenre genre in Model.Genres)
                    {
                    @(genre + " ")
                    }
                </p>
                
            </div>
        </div>
    </div>
</div>