@model Movie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    ViewData["Title"] = "All Movies";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h3>Movie Not Found</h3>
</body>
</html>