@{
    ViewBag.Title = "Add Genre";
    Layout = "_Layout";
}

<h2>Add Genre</h2>

<form class="form" asp-controller="Genre" asp-action="AddGenreToDb">
    <input class="input-group-text" style="width: 30%;" type="text" name="genreName" placeholder="Input genre name" required>
    <br>
    <button class="btn btn-success" type="submit">Add</button>
</form>